/* Valeria Toti ebook developer */
@charset "UTF-8";

@namespace h "http://www.w3.org/1999/xhtml/";
@namespace epub "http://www.idpf.org/2007/ops";

/* FONTS IMPORT */

@font-face {
    font-family: "SourceSansPro";
    src: url('../Fonts/SourceSansPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SourceSansPro";
    src: url('../Fonts/SourceSansPro-It.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu Mono Bold';
    src: url('../Fonts/UbuntuMono-B.ttf');
}

/* RESET */

aside, blockquote, div, figure, figcaption, h1, h2, h3, h4, hr, nav, p, section {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: inherit;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
}

aside, figure, figcaption, nav, section {
  display: block;
}

h1, h2, h3, h4 {
  text-align: left;
}

a, abbr, b, cite, em, i, mark, small, span, strong, sup {
  font-size: inherit;
  vertical-align: baseline;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
}

/* LAYOUT */

body {
  font-size: 100%;
  font-family: "SourceSansPro", Seravek, "Myriad Pro", sans-serif;
  adobe-hyphenate: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-limit-before: 2;
  -webkit-hyphenate-limit-after: 2;
  -webkit-hyphenate-limit-lines: 2;
  text-align: justify;
  line-height: 1.5;
  widows: 2;
  orphans: 2;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, blockquote p cite, figcaption {
  adobe-hyphenate: none;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
}

h1, h2, h3, h4, hr {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  break-after: avoid;
}


/* HEADINGS */

h1 {
  font-family: 'Ubuntu Mono Bold', monospace;
  font-size: 1.6em;
	line-height: 1em;
  text-transform: uppercase;
  margin-top: 3em;
  margin-bottom: 0.8em;
  font-weight: 300;
}

h2 {
  font-family: 'Ubuntu Mono Bold', monospace;
  font-size: 1.4em;
	line-height: 1.1em;
  margin-top: 2.2em;
  margin-bottom: 0.6em;
  font-weight: 300;
}

h3 {
  font-family: 'Ubuntu Mono Bold', monospace;
  font-size: 1.3em;
  line-height: 1.2;
  margin-top: 1.3em;
  font-weight: 300;
  font-style: italic;
}

h4 {
  font-family: 'Ubuntu Mono Bold', monospace;
  font-size: 1.2em;
  line-height: 1.3;
  margin-top: 1em;
  font-weight: 300;
}


/* BLOCK ELEMENTS */

p {
  text-indent: 0em;
}

section#titlepage {
  margin-top: 20%;
}

section#titlepage h1 {
	line-height: 1.4em;
  font-size: 1.8em;
}

section#titlepage h1,
section#titlepage p    {
  margin: 0.5em 0;
	border: none;
  text-align: center;
}

#author {
	font-size: 1.2em;
}

section#copyright,
section#notice {
  margin-top: 8%;
 font-size: 0.9em;
}

section#copyright p {
 margin-bottom: 0.5em;
}

section#copyright ul li,
section#notice ul li {
  font-size: 0.9em;
}

section#notice p cite {
  display: block;
}

aside {
   line-height: normal;
   font-size: smaller;
   border-top: 0.065em dotted rgb(200,200,200);
	 padding-top: 0.5em;
	 margin-top: 1.65em;
}

/* MICROTYPOGRAPHY */

i, em, cite {
  font-style: italic;
  font-family: inherit;
}

b, strong {
  font-weight: 600;
  font-family: inherit;
}

small {
  font-size: 0.9em;
}

span.small-caps {
  letter-spacing: 0.1em;
  font-variant: small-caps;
  font-size: smaller;
  text-transform: uppercase;
}

span.small-caps-normal {
  font-variant: small-caps;
  font-size: smaller;
  text-transform: uppercase;
}

.center {
  text-align: center !important;
  text-indent: 0;
}

p.line-small {
  line-height: 1;
}

sup {
  font-size: 75%;
  line-height: 1.2;
  vertical-align: super;
  vertical-align: 33%;
}

a {
   text-decoration: none;
   color: rgb(51,102,204);
   padding-bottom: 0.05rem;
   border-bottom: 0.1rem dotted rgb(51,102,204);
}

/* LIST */

ol, ul {
		text-align: inherit;
    list-style: none !important;
		padding: 0em;
}

li {
margin-bottom: 0.8em;
}







